.glitch {
  position: relative;
  font-weight: bold;
  color: white;
  letter-spacing: 3px;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glitch::before {
  left: 2px;
  text-shadow: var(--before-shadow);
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim var(--before-duration) infinite linear alternate-reverse;
}

.glitch::after {
  left: -2px;
  text-shadow: var(--after-shadow);
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim2 var(--after-duration) infinite linear alternate-reverse;
}

/* Only animate on hover if enabled */
.glitch.enable-on-hover {
  animation: none;
}

.glitch.enable-on-hover::before,
.glitch.enable-on-hover::after {
  animation: none;
}

.glitch.enable-on-hover:hover {
  animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch.enable-on-hover:hover::before {
  animation: glitch-anim var(--before-duration) infinite linear alternate-reverse;
}

.glitch.enable-on-hover:hover::after {
  animation: glitch-anim2 var(--after-duration) infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(88px, 9999px, 100px, 0);
    transform: skew(0.38deg);
  }
  5% {
    clip: rect(21px, 9999px, 82px, 0);
    transform: skew(0.65deg);
  }
  10% {
    clip: rect(55px, 9999px, 14px, 0);
    transform: skew(0.92deg);
  }
  15% {
    clip: rect(33px, 9999px, 90px, 0);
    transform: skew(0.18deg);
  }
  20% {
    clip: rect(78px, 9999px, 46px, 0);
    transform: skew(0.44deg);
  }
  25% {
    clip: rect(11px, 9999px, 99px, 0);
    transform: skew(0.71deg);
  }
  30% {
    clip: rect(67px, 9999px, 25px, 0);
    transform: skew(0.98deg);
  }
  35% {
    clip: rect(44px, 9999px, 61px, 0);
    transform: skew(0.25deg);
  }
  40% {
    clip: rect(92px, 9999px, 8px, 0);
    transform: skew(0.52deg);
  }
  45% {
    clip: rect(29px, 9999px, 74px, 0);
    transform: skew(0.79deg);
  }
  50% {
    clip: rect(85px, 9999px, 37px, 0);
    transform: skew(0.05deg);
  }
  55% {
    clip: rect(16px, 9999px, 95px, 0);
    transform: skew(0.32deg);
  }
  60% {
    clip: rect(72px, 9999px, 19px, 0);
    transform: skew(0.59deg);
  }
  65% {
    clip: rect(39px, 9999px, 83px, 0);
    transform: skew(0.86deg);
  }
  70% {
    clip: rect(96px, 9999px, 50px, 0);
    transform: skew(0.12deg);
  }
  75% {
    clip: rect(23px, 9999px, 66px, 0);
    transform: skew(0.39deg);
  }
  80% {
    clip: rect(80px, 9999px, 28px, 0);
    transform: skew(0.66deg);
  }
  85% {
    clip: rect(47px, 9999px, 91px, 0);
    transform: skew(0.93deg);
  }
  90% {
    clip: rect(3px, 9999px, 57px, 0);
    transform: skew(0.19deg);
  }
  95% {
    clip: rect(70px, 9999px, 12px, 0);
    transform: skew(0.46deg);
  }
  100% {
    clip: rect(36px, 9999px, 75px, 0);
    transform: skew(0.73deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(65px, 9999px, 119px, 0);
    transform: skew(0.85deg);
  }
  5% {
    clip: rect(13px, 9999px, 41px, 0);
    transform: skew(0.58deg);
  }
  10% {
    clip: rect(99px, 9999px, 7px, 0);
    transform: skew(0.31deg);
  }
  15% {
    clip: rect(26px, 9999px, 93px, 0);
    transform: skew(0.04deg);
  }
  20% {
    clip: rect(82px, 9999px, 54px, 0);
    transform: skew(0.77deg);
  }
  25% {
    clip: rect(48px, 9999px, 18px, 0);
    transform: skew(0.50deg);
  }
  30% {
    clip: rect(4px, 9999px, 86px, 0);
    transform: skew(0.23deg);
  }
  35% {
    clip: rect(71px, 9999px, 32px, 0);
    transform: skew(0.96deg);
  }
  40% {
    clip: rect(37px, 9999px, 68px, 0);
    transform: skew(0.69deg);
  }
  45% {
    clip: rect(93px, 9999px, 25px, 0);
    transform: skew(0.42deg);
  }
  50% {
    clip: rect(19px, 9999px, 91px, 0);
    transform: skew(0.15deg);
  }
  55% {
    clip: rect(76px, 9999px, 47px, 0);
    transform: skew(0.88deg);
  }
  60% {
    clip: rect(42px, 9999px, 11px, 0);
    transform: skew(0.61deg);
  }
  65% {
    clip: rect(8px, 9999px, 79px, 0);
    transform: skew(0.34deg);
  }
  70% {
    clip: rect(65px, 9999px, 35px, 0);
    transform: skew(0.07deg);
  }
  75% {
    clip: rect(31px, 9999px, 73px, 0);
    transform: skew(0.80deg);
  }
  80% {
    clip: rect(97px, 9999px, 29px, 0);
    transform: skew(0.53deg);
  }
  85% {
    clip: rect(24px, 9999px, 95px, 0);
    transform: skew(0.26deg);
  }
  90% {
    clip: rect(80px, 9999px, 51px, 0);
    transform: skew(0.99deg);
  }
  95% {
    clip: rect(46px, 9999px, 15px, 0);
    transform: skew(0.72deg);
  }
  100% {
    clip: rect(12px, 9999px, 83px, 0);
    transform: skew(0.45deg);
  }
}

@keyframes glitch-skew {
  0% {
    transform: skew(0deg);
  }
  10% {
    transform: skew(-2deg);
  }
  20% {
    transform: skew(1deg);
  }
  30% {
    transform: skew(-1deg);
  }
  40% {
    transform: skew(2deg);
  }
  50% {
    transform: skew(-2deg);
  }
  60% {
    transform: skew(0deg);
  }
  70% {
    transform: skew(1deg);
  }
  80% {
    transform: skew(-1deg);
  }
  90% {
    transform: skew(2deg);
  }
  100% {
    transform: skew(0deg);
  }
}
