.gradual-blur {
  pointer-events: none;
  transition: opacity 0.3s ease-out;
}

.gradual-blur-parent {
  overflow: hidden;
}

.gradual-blur-page {
  position: fixed;
}

.gradual-blur-inner {
  pointer-events: none;
}

/* Ensure compatibility with different browsers */
.gradual-blur > div > div {
  will-change: backdrop-filter;
}

@supports not (backdrop-filter: blur(1px)) {
  .gradual-blur {
    display: none;
  }
}
